<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <listeners>
    <listener class-name="Report_Screenshots.HTML_Report"/>
  </listeners>

  <test name="OrangeHRM Login Data">
    <classes>
      <class name="OrangeHRM_Testcases.Orange_HRM_login_DATA"/>
    </classes>
  </test>

  <test name="OrangeHRM Modules">
    <classes>
      <class name="OrangeHRM_Testcases.OrangeHRM_modules"/>
    </classes>
  </test>

  <test name="Login With Data">
    <classes>
      <class name="OrangeHRM_Testcases.LoginWithdata"/>
    </classes>
  </test>

  <test name="Features PIM">
    <classes>
      <class name="OrangeHRM_Module.Features_PIM"/>
    </classes>
  </test>

  <test name="Login">
    <classes>
      <class name="OrangeHRM_Testcases.Login"/>
    </classes>
  </test>

  <test name="Leave Module">
    <classes>
      <class name="OrangeHRM_Module.Leave_module"/>
    </classes>
  </test>

  <test name="Time Module">
    <classes>
      <class name="OrangeHRM_Module.Time"/>
    </classes>
  </test>
   

</suite>
